<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- dao层 -->
	<bean id="applierinfoDao" class="com.lawyer.dao.impl.ApplierinfoDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- service层 -->
	<bean id="appService" class="com.lawyer.service.impl.ApplierinfoServiceImpl">
		<property name="appdao">
			<ref bean="applierinfoDao" />
		</property>
		<property name="courtDao">
			<ref bean="courtDao" />
		</property>
		
	</bean>

	<!-- action -->
	<bean id="appInfoAction" class="com.lawyer.action.ApplierinfoAction" scope="prototype">
		<property name="appinfoService" >
			<ref bean="appService" />		
		</property>
		<property name="ars" ref="addRecordService"/>
	</bean>




</beans>