<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- dao层 -->
	<bean id="conTelDao" class="com.lawyer.dao.impl.ContactTelDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- service层 -->
	<bean id="conTelService" class="com.lawyer.service.impl.ContactTelServiceImpl">
		<property name="contactTelDao">
			<ref bean="conTelDao" />
		</property>
	</bean>

	<!-- action -->
	<bean id="conTelAction" class="com.lawyer.action.ContactTelAction" scope="prototype">
		<property name="cts" >
			<ref bean="conTelService" />
			
		</property>
		<property name="filesService" ref="filesServiceImpl"/>
	</bean>




</beans>