<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- dao层 -->
	<bean id="applierinfoOnselfworkDao" class="com.lawyer.dao.impl.ApplierinfoOnselfDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- service层 -->
	<bean id="appOnselfService" class="com.lawyer.service.impl.ApplierinfoOnselfServiceImpl">
		<property name="applierinfoOnselfDao">
			<ref bean="applierinfoOnselfworkDao" />
		</property>
	</bean>

	<!-- action -->
	<bean id="appOnselfAction" class="com.lawyer.action.ApplierinfoOnselfAction" scope="prototype">
		<property name="applierinfoOnselfService" >
			<ref bean="appOnselfService" />		
		</property>
		<property name="ars" ref="addRecordService"/>
	</bean>




</beans>