<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- Dao层配置 -->
	<bean id="iPageDao1" class="com.lawyer.dao.impl.PageDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Service层配置 -->
	<bean id="pageService1" class="com.lawyer.service.impl.PageServiceImpl">
		<property name="pageDao" ref="iPageDao1"></property>
	</bean>
</beans>